
body{
    font: 20px, Arial, sans-serif;
}

.navbar{
    background-color: #298A08;
}

.quem-somos{
    background: #8181F7;
    color: white;
}

.margin{
    padding-top: 50px;
    padding-bottom: 50px;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #58FAF4;
    color: white;
}

.bg-footer{
    background-color: black;
    color: white;
}